<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>OUR ACHIEVEMENTS</title>
  <link rel="stylesheet" href="/css/Academic/achievement.css">
</head>
<body>

  <header>
    <h1>OUR ACHIEVEMENTS</h1>
  </header>

  <div class="info-grid">
    <div class="info-box">
      <p>
        Every year 250 to 300 poor bright and not so bright students from remote and mountainous  areas, from Adivasi, Dalit and OBC communities from Kandhamal, Gajapati, Rayagada and Ganjam districts of Southern Odisha got an opportunity to pursue higher education in +2 and +3 Science in a residential
      </p>
    </div>
    <div class="info-box">
      <p>
        The +3 Science residential colleges managed by SOLID have received the temporary recognition for the year 2020-2021 with 64 seats (PCM & CBZ-32 seats each, Honours in Physics, Chemistry, Botany and Zoology with 16 seats each).
      </p>
    </div>
    <div class="info-box">
      <p>
        Last year annual AHSE result of our school was 100%. For the session2020-2022, 56 students (Boys-36, Girls-20) got 1st division, 4 students (Boys-1, Girls-3) got 2nd division and 4 students (Boys-2 and Girls-2) got 3rd division.
      </p>
    </div>
    <div class="info-box">
      <p>
        Total 104 (51 girls and 53 boys) new students have joined 11<sup>th</sup> class (19<sup>th</sup> batch) for the session 2021-2023.
      </p>
    </div>
    <div class="info-box">
      <p>
        The percentage of Girls' joined in the school in comparison to boys is 49% which has increased from last year.
      </p>
    </div>
    <div class="info-box">
      <p>
        The KarunaShanti +2 Science Residential Higher Secondary School (KASH) managed by SOLID has received renewal of affiliation for the year 2021-2022.
      </p>
    </div>
    <div class="info-box">
      <p>
        Total 68 students of (18th batch – 26 Girls, 42 Boys) enrolled for +2 Science 1st year and 28 new students (6th batch- 11 Girls, 17 boys) for +3 Science 1st year in the KarunaShanti Residential College (KSRHSS) and were welcomed by the senior batch students by welcome ceremony showing a gesture of love and compassion towards their
      </p>
    </div>
    <div class="info-box">
      <p>
        The KarunaShanti +2 & +3 Science Residential Higher Secondary School and College have recruited experienced lecturers who in turn provided quality teaching to students and students are able to understand their subjects well and have aspired to achieve better results in their internal as well as external examinations.
      </p>
    </div>
    <div class="info-box">
     <p>
        Different kinds of trees were planted and vegetables were grown such as brinjals, tomatoes papaya, green chilies, etc and trees (drumstick) were planted both for using it and for income generation purpose for the school.
    </p>
    </div>
    <div class="info-box">
        <p>
            The school has provided a small & moderate computer laboratory facilities for students and students were able to download, store and easy access to e-learning materials for their study reference. It has helped them to improve their studies.
       </p>
       </div>
       <div class="info-box">
        <p>
            During Covid-19 pandemic, dormitories and classrooms were frequently sanitized and proper hygiene was maintained within the school campus to prevent students and staff getting affected by the pandemic.
       </p>
       </div>
       <div class="info-box">
        <p>
            The school has also provided moderate library facilities for students with all the required study materials needed to pursue their higher studies.
       </p>
       </div>
       <div class="info-box">
        <p>
            Participation in all life skill building activities by students has contributed in developing a harmonious living condition within the premises they reside and pursue their higher secondary school education.
       </p>
       </div>
       <div class="info-box">
        <p>
            Agriculture machineries were purchased and utilized for leveling and tilling agricultural cultivable lands for planting vegetables and fruit bearing trees for income generation purpose of the school.
       </p>
       </div>
       <div class="info-box">
        <p>
            Girls are taking more interest and are participating in different sports and games activities conducted for them by breaking their fear and shyness.
       </p>
       </div>
       <div class="info-box">
        <p>
            Tata Steel has provided sports materials for improving sports activities for students and has encouraged them to be better sports persons. This has inspired students to participate in sports activities to be better sports persons.
        </p>
       </div>
       <div class="info-box">
        <p>
            Regular maintenance of the dormitories and classrooms has helped in improving the living and classroom condition of the students. There is a better sense of hygiene and cleanliness atmosphere is seen among the students in the school and residential campus.
       </p>
       </div>
       <div class="info-box">
        <p>
            International Day of Peace was celebrated by all the students, staff and Board members at the school campus abiding with the rules and regulation of Covid-19 guidelines of Government of Odisha.
       </p>
       </div>
       <div class="info-box">
        <p>
            Everyday all residential students regularly practice meditation, write gratitude journal, read from speaking tree, practice prayer, sing spiritual songs, etc. These daily formation activities and practices have helped them to develop peaceful and compassionate values, and a heart filled with love, respect and gratitude for all. These activities have also contributed in building the life skill of students.
       </p>
       </div>
       <div class="info-box">
        <p>
            A cumulative of more than 433 students have emerged as professional working in different professions such as MBBS (50), Engineer (35), Pharma (22), Nursing (45), Teachers (250), Lecturers (6), Health Auxillary professionals (9), M.Sc-ETC (2), Bank Po-(2), Judicial Clerk(2), Labour Inspector(1), Veterinary Assistant (4), Agriculturist(4), Fishery scientist (1).
       </p>
       </div>
       <div class="info-box">
        <p>
            A total amount of Rs. 461,500/- was paid to 8 students pursuing professional courses in different professional streams. Most of the students those who were supported for their professional studies were studying in MBBS, Nursing and Pharmacy courses.
       </p>
       </div>
       <div class="info-box">
        <p>
            In order to generate local funds and also to reduce expenditures on food costs, agricultural equipments were purchased and used for cultivation purposes to grow organic vegetables and paddy to be used by the students and staffs residing within the KarunaShanti ashram and Different kinds of plants such as Papaya, Moringa, tomato, brinjal, and Banana were planted in our ashram. These grown fruits and vegetables were utilized for cooking purpose and in generating local funds out of it.
       </p>
       </div>
       <div class="info-box">
        <p>
            All the students were encouraged to participate during celebration of festivals and important days like Independence Day, Republic day, Teachers’ Day, Ganesh & Saraswati Puja, Christmas, and International Day of Peace and Non-violence day. All students participated to create an inclusive atmosphere among them although they belong to different caste and religious backgrounds. Especially girls got an opportunity to participate freely in all activities which has helped them to develop their leadership skills and have further contributed in developing their life skills.
       </p>
       </div>
       <div class="info-box">
        <p>
            All the residential students were encouraged to regularly participate in different indoor and outdoor sports and games conducted for them. Participation in sports activities has helped students to grow physically fit and to learn playing with each other in an inclusive manner. Most of the sports and games were conducted in groups and have win-win conditions. The sports and games have helped students to connect with each other and be friends by breaking all sorts of barrier of discrimination prevailed in them.
       </p>
       </div>
    
  </div>

</body>
</html>
