<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Convocation</title>
  <link rel="stylesheet" href="/css/Academic/convocation.css">
</head>
<body>

  <header>
    <h1>Convocation</h1>
  </header>

  <div class="content">
    <div class="text-section">
      <p>
        We are pleased to announce that we hold the convocation ceremony at our KASH Campus.
        Convocation is the most prestigious and awaited moment of your life and the day has
        finally arrived. It is time to finally touch the last milestone of your journey with Karuna
        Shanti College and add a feather to your cap.
      </p>
      <p>
        When you joined our college, you entrusted us with your dreams and aspirations. You
        spent the wonderful days at the college campus – the grounds, classrooms, laboratories,
        canteen and more. Your interactions with your faculty members who have shaped you as
        a person. It is time for you all to relive those moments and commemorate this special day
        of your life. Surrounded by your batchmates and faculties, you will be awarded your degree
        certificates. A proud moment awaits you all!
      </p>
      <p>
        Our college was set up to provide not just top education to the students as well as holistic
        development. We also foster an entrepreneurial mindset among our students. We are glad
        that we have sailed well through the tough times of the pandemic and are able to host an 
        offline Convocation Ceremony to award our Young Achievers.
      </p>
      <p>
        Your Convocation is the day that fills your hearts with joy and pride. You are a pride to your
        college, your parents and the country. Hence you all are invited to be a part of
        Convocation Day and make this day a memorable one.
      </p>
    </div>

    <div class="image-section">
        <br><br>
      <img src="Academic/Screenshot 2025-05-05 164524.png" alt="Convocation Image">
    </div>
  </div>

</body>
</html>
