<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/css/Academic/courses.css">
</head>
<body>

    <header>
        <h1>Our Courses</h1>
    </header>

    <p>
        The following courses have been introduced from 2003 till date:
    </p>

    <div class="table-container">
        <table>
            <tr>
                <th>Year</th>
                <th>Courses Introduced</th>
            </tr>
            <tr>
                <td>2008 - till date</td>
                <td>+2 Zoology, Botany, Maths, Physics, Chemistry, MIL, Oriya, English</td>
            </tr>
            <tr>
                <td>2015 - till date</td>
                <td>+3 BSc Chemistry Honors (will be discontinued from 2023 onwards)</td>
            </tr>
            <tr>
                <td>2015 - till date</td>
                <td>BSc Physics Honors</td>
            </tr>
            <tr>
                <td>2015 - till date</td>
                <td>BSc Botany Honors</td>
            </tr>
            <tr>
                <td>2015 - till date</td>
                <td>BSc Mathematics</td>
            </tr>
            <tr>
                <td>2015 - till date</td>
                <td>BSc English, Oriya</td>
            </tr>
        </table>
    </div>

    <p>
        These courses are conducted in accordance with the rules and regulations laid down by the University Grants Commission, Berhampur University and the Government 
         CHSE/CBSE rules. This citadel of higher learning is marching ahead triumphantly. We are confident that the ripe seed sown at the right moment by the founders will grow into a 
          big tree with flowers and fruits in the years to come and will serve the student community in the cause of Higher Education.
    </p>
    <br>
    <p>
        After functioning for three years inside the city it has been shifted to the outskirts of Brahmapur (Near Golanthara station) to its own building. The Programme Project Campus 
        has hostel facility as well as day-boarding facility. For day-boarding students transport facility, Veg-lunch and refreshment, reading room is available. It has its own 
        sophisticated campus with canteen, playground, 24 hours power supply, stationery store, broadband internet facility etc.
    </p>

</body>
</html>
