<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Gallery</title>
  <link rel="stylesheet" href="/css/WhoWeAre/aboutsolidkash.css">
</head>
<body>

  <h2>SOME VIDEO'S FOR KASH CAMPUS</h2>

  <div class="video-grid">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID_1" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID_2" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID_3" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID_4" allowfullscreen></iframe>
    </div>
  </div>

</body>
</html>
