<header>
  <div class="logo">
    <img src="/Images/kashnewlogo-removebg-preview.png" alt="KASH Logo">
    <h1>KASH</h1>
  </div>

  <div class="menu-toggle" id="menu-toggle">☰</div>

  <nav id="navMenu">
    <div class="dropdown"><a href="/#home" class="nav-link">Home</a></div>

    <div class="dropdown">
      <button class="dropdown-toggle">About us</button>
      <div class="dropdown-content">
        <a href="/WhoWeAre/AboutUs" class="nav-link">Who we are?</a>
        <a href="/#about" class="nav-link">Vision and Mission</a>
        <a href="/#about" class="nav-link">About SOLID - KASH society</a>
        <a href="/#about" class="nav-link">About KASH Logo</a>
        <a href="/#about" class="nav-link">Principal's Desk</a>
        <a href="/#about" class="nav-link">Faculty</a>
        <a href="/#about" class="nav-link">Management Board Members</a>
        <a href="/#about" class="nav-link">Governing Body Member</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle">Academic</button>
      <div class="dropdown-content">
        <a href="/#programs" class="nav-link">Courses</a>
        <a href="/#programs" class="nav-link">Examination</a>
        <a href="/#programs" class="nav-link">Convocation</a>
        <a href="/#programs" class="nav-link">Academic Calendar</a>
        <a href="/#campus" class="nav-link">Campus Life</a>
        <a href="/#achievement" class="nav-link">Achievements</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle">Facilities</button>
      <div class="dropdown-content">
        <a href="/#impact" class="nav-link">Hostel</a>
        <a href="/#impact" class="nav-link">Library</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle">Events</button>
      <div class="dropdown-content">
        <a href="/#events" class="nav-link">Gallery</a>
        <a href="/#events" class="nav-link">Video Gallery</a>
      </div>
    </div>

    <div class="dropdown"><a href="/#contact" class="nav-link">Contact</a></div>
    <div class="dropdown"><a href="/#donate" class="nav-link">Donate</a></div>

    <div class="dropdown">
      <button class="dropdown-toggle">Legal Documents</button>
      <div class="dropdown-content">
        <a href="/#legal" class="nav-link">RTI</a>
        <a href="/#legal" class="nav-link">Annual Reports</a>
      </div>
    </div>
  </nav>
</header>
